[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cloud/Desktop/sonarqube.desktop]
row=0
col=1

[/home/cloud/Desktop/jenkins.desktop]
row=1
col=1

[/home/cloud/Desktop/firefox.desktop]
row=3
col=0

[/home/cloud/Desktop/xfce4-terminal-emulator.desktop]
row=2
col=1

[/home/cloud/Desktop/Old Firefox Data]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/cloud]
row=2
col=0

